
<div class="nav-item" xmlns:th="http://www.thymeleaf.org" >
            <div class="container">
                <div class="nav-depart">
                    <div class="depart-btn">
                        <i class="ti-menu"></i>
                        <span>[(#{menu.category})]</span>
                        <ul class="depart-hover">
                        	<li> <a th:each="c : ${cates}" th:href="@{|/product/list?cid=${c.categoryid}|}">[[${c.categoryname}]]</a> </li>
                        </ul>
                    </div>
                </div>
                <nav class="nav-menu mobile-menu">
                    <ul>
                        <li class="active"><a href="./index.html">[(#{menu.home})]</a></li>
                        <li><a href="./shop.html">[(#{menu.shop})]</a></li>
                        <li><a href="#">Collection</a>
                            <ul class="dropdown">
                                <li><a href="#">Men's</a></li>
                                <li><a href="#">Women's</a></li>
                                <li><a href="#">Kid's</a></li>
                            </ul>
                        </li>
                        <li><a href="./blog.html">Blog</a></li>
                        <li><a href="./contact.html">[(#{menu.contact})]</a></li>
                        
                    </ul>
                </nav>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>