<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  th:fragment="dynamic(main)">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
<!-- 	<base th:href="{pageContext.servletContext.contextPath}/" />
 -->
 	<link rel="icon" href="/img/Logo/favicon.ico">
    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/themify-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style1.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/ChonThanhToan.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/owlcarousel/assets/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/owlcarousel/assets/owl.theme.default.min.css}">
    <script th:src="@{/owlcarousel/owl.carousel.min.js}"></script>
    <script th:src="@{/owlcarousel/lory.min.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/ListOrder.css}" type="text/css"> 
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    
</head>
<body ng-app="app">
	<header class="header-section">
		<div th:replace="~{/layout/_header}"></div>
		<div th:replace="~{/layout/_menu}"></div>
	</header>
	
	<main th:insert="${main}"></main>
	
	<footer >
		<div th:replace="~{/layout/_footer}"></div>
	</footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script th:src="@{/js/AngularController/Cart.js}"></script>
    <script th:src="@{/js/AngularController/Pay.js}"></script>
    <script th:src="@{/js/AngularController/ListOrder.js}"></script>
    <script th:src="@{/js/AngularController/Account.js}"></script>
    <script th:src="@{/js/AngularController/ForgotPassword.js}"></script>
	<script th:src="@{/js/AngularController/productRepository.js}"></script>
	<script th:src="@{/Admin/JsController/indexController.js}"></script>
	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <script th:src="@{/js/jquery.countdown.min.js}"></script>
    <script th:src="@{/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/js/jquery.zoom.min.js}"></script>
    <script th:src="@{/js/jquery.dd.min.js}"></script>
    <script th:src="@{/js/jquery.slicknav.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/data.js}"></script>
    <script th:src="@{/js/productDetail.js}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
    	$('.owl-carousel').owlCarousel({
    	    loop:true,
    	    margin:10,
    	    nav:true,
    	    autoplay:true,
    	    autoplayTimeout:2000,
    	    autoplayHoverPause:false,
    	    responsive:{
    	        0:{
    	            items:1
    	        },
    	        600:{
    	            items:2
    	        },
    	        1000:{
    	            items:4
    	        }
    	    }
    	})
  
    	const swiper = new Swiper('.swiper', {
            loop: true,
            pagination: {
                el: '.swiper-pagination',
            },

            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
                
    });
    

  </script>

</body> 
</html>